.questionbar-div {
    grid-area: questionBar;
    align-self: start;
    color: rgb(67, 78, 78);
    /* background: rgb(235, 235, 235); */
    padding: 1rem;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}